/* CSS declarations go here */
crema = #f3e4bb
morado = rgba(#EFEFF4, 0.49)
azulmorado = #007268
azulmoradobg = rgba(azulmorado, 0.71)
amarillo = #FFC400
rojo = #bf1f1f

.rojo
    background-color rojo !important
.crema
    background-color crema !important
.azulmorado
    background-color azulmorado !important
.azulmoradobg
    background-color azulmoradobg !important
.morado
    background-color morado !important
.amarillo
    background-color amarillo !important



* 
    box-sizing border-box

html, body 
    padding 0
    height 100%
    font-family "Helvetica Neue", Helvetica, Arial, sans-serif;

#wrapper 
    display flex
    align-items center
    justify-content center
    min-height 100vh
    background #93063E
    #main
        background morado
        min-height 100vh
        min-width 75vw
        max-width 76vw

#login
    img 
        width 500px
        display block
        margin 70px auto 10px
    .at-form
        margin 20px
    #sub
        color #555555
        padding 0px 25vw
        p
            text-align center
        margin-bottom 20px
    #botones
        padding 0px 25vw
        .btn-large
            font-weight bold
            display block
            margin-bottom 30px
        p
            font-style oblique

#lenguaje
    padding 100px
    h5  
        color #222222
    a   
        width 49%
        font-weight bold
    img     
        width 500px

.flex
    display: flex;
    flex-wrap: wrap;

#interes
    img     
        width 500px
        display block
    .azulmorado
        color #FFECAC
        display block
        margin 13px auto
        width 27%

#listaIntereses
    a 
        background-color rojo
        flex-grow: 1;
        margin 7px
        width: 30%;
        color white
        text-overflow ellipsis
        white-space nowrap


#azulmorado
    background-color azulmoradobg
    padding 30px
    min-height 100vh
    .textos
        color white
        text-align right

#nav-mobile 
    margin-top 40px
    li
        display inline
        font-style oblique
        a
            background-color amarillo
            color #444
            text-transform none
            min-width 15%
            margin auto 0px
            border-radius: 0

#mainLogo
    height 94px
    float right
    right 14px
    top 10px

#crema
    background-color crema
    padding 30px
    min-height 100vh

.somepadding
    padding-left 15px
    padding-right 15px

#profile_pic
    width 220px
    border-radius 50%

.perfil
    padding-top 50px

.tags
    p
        font-style oblique
#listActiva
    .btn.disabled, .disabled.btn-large, .btn-floating.disabled, .btn-large.disabled, .btn-flat.disabled, .btn:disabled, .btn-large:disabled, .btn-floating:disabled, .btn-large:disabled, .btn-flat:disabled, .btn[disabled], [disabled].btn-large, .btn-floating[disabled], .btn-large[disabled], .btn-flat[disabled]
        background-color rojo !important
        flex-grow 1
        margin 7px
        width 30%
        color white !important
        text-overflow ellipsis
        white-space nowrap
    .btn-medium
        font-weight lighter
        text-align center

.btn-floating
    float right
    right 14px
    bottom 70px

#edit-desc
    margin -1em auto 0

#loading
    display flex
    align-items center
    justify-content center

a
    color rojo

[contenteditable]:active, [contenteditable]:focus
    border 3px solid #49777f
    border-radius 4px
    box-shadow 0px 0px 17px 3px rgba(#49777f,0.8)
    padding 5px 10px
    outline none
    transition border 0.2s
    transition-timing-function ease-out

.profile-image-div
    flex-grow 1

.profile-text-div
    flex-grow 3
    a   
        color white
        text-transform none
        margin 10px 7px

.profile_image
    width 220px
    border-radius 100%
    padding 20px