/* CSS declarations go here */
* 
    box-sizing border-box

    

html, body 
    padding 0
    min-height 100%
    font-family "Helvetica Neue", Helvetica, Arial, sans-serif;

.fp-section 
    padding 150px
    color white

#first 
    background #ec407a
    
#second 
    background #1e88e5

#third
    background #43a047

#forth
    background  #fdd835

#wrapper 
    display flex
    align-items center
    justify-content center
    min-height 100vh
    background #93063E
    #main
        background  rgba(#EFEFF4, 0.49)
        min-height 100vh
        min-width 75vw
        max-width 76vw

#login
    img 
        width 500px
        display block
        margin 70px auto 10px
    .at-form
        margin 20px
    #sub
        color #555555
        padding 0px 25vw
        p
            text-align center
        margin-bottom 20px
    #botones
        padding 0px 25vw
        .btn-large
            font-weight bold
            display block
            margin-bottom 30px
        p
            font-style italic

#lenguaje
    padding 100px
    h5  
        color #222222
    a   
        width 49%
        font-weight bold
    img     
        width 500px

.flex
    display: flex;
    flex-wrap: wrap;

#interes
    img     
        width 500px
        display block
    a 
        background-color #F9564F
        flex-grow: 1;
        margin 7px
        width: 30%;
        color white
        text-overflow ellipsis
        white-space nowrap
    .morado
        background-color #0D0A3F
        color #FFECAC
        display block
        margin 13px auto
        width: 27%;


#azulmorado
    background-color rgba(#0D0A3F,0.71)
    padding 30px
    min-height 100vh
