<template name="disconnect">
    <a class="btn-floating btn-large waves-effect waves-light rojo"><i class="material-icons">power_settings_new</i></a>
</template>

<template name="navbar">
    <ul id="nav-mobile">
        <li><a class="btn-flat btn-large" href="/profile">Mi perfil</a></li>
        <li><a class="btn-flat btn-large" href="/friends">Explorar Amigos</a></li>
        <li><a class="btn-flat btn-large" href="/tags">Explorar Etiquetas</a></li>
        <li><a class="btn-flat btn-large" href="/groups">Grupos</a></li>
        {{> notificationDrop}}
    </ul>
</template>
<template name="loading">
    <div id="loading">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</template>
<template name='dropdown1'>
   
</template>